body {
  background-color: lightgray;
}

.slider {
	height: 34px;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -1px;
	padding: 0px 0px 0px 0px;
	border: solid 2px #D8D6D6;
	overflow: hidden;
}

.slider-value {
	height: 34px;
	width: 50px;
	display: inline-block;
	border-left: solid 2px #ccc;
	float: right;
	line-height: 34px;
	vertical-align: middle;
	padding-left: 3px;
	background: #EAE9E9;
	font-size: 0.9em;
}

.kaos-pad {
  border: 1px solid red;
  height: 400px;
  background: linear-gradient(135deg, rgb(0, 0, 44), rgb(255, 255, 255));
}
